<suite name="loginsuite">
	<test name="loginandtest1">
	    <parameter name = "browser" value="chrome"/>
		<classes>
		<class name="tests.logintest"></class>
        </classes>
    </test>
	
	<test name="loginandtest2">
	    <parameter name = "browser" value="edge"/>
		<classes>
		<class name="tests.logintest"></class>
        </classes>
    </test>
	
</suite>
